@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 250px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
    margin-top: 70px;
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}






.bg-dark-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.bg-orange {
  background-color: orange;
}

.table-row-primary {
  background-color: #9ec5fe !important;
}

.login-body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 133, 51, 0.5)), url("../images/background.jpg") no-repeat center top fixed;
  background-size: cover;
  height: 100vh;
}

body {
  overflow: hidden;
}



.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
#counter {
  top: 0;
  right: 0
}

.map-container{
  background: rgba(0, 0, 0, 0.75);
}

.map-container path{
  fill:rgb(255, 166, 0);
  stroke: rgb(0, 0, 0);
  stroke-width: 4px;
}

.hidden {
  display: none;
}